@charset "utf-8";
/* CSS Document */

#pageLogin .logo {
	height:200px;
	background-image:url(../../images/logo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:80%;
	max-width:400px;
	margin:auto;
}
#pageLogin .login-wrap {
	width:150px;
	margin:auto;
}

#pageLogin .login-footer {
	color:#FFF;
	text-shadow:0px 1px 1px #333;	
	text-align:center;
	padding: 10px 20px;
	font-size:12px;
}
#pageLogin .login-footer a {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}
#pageLogin .footer-bg {
	background-image:url(../../images/bg-login-bottom-bar.png);
	background-size:auto 100%;
	background-repeat:repeat-x;
}

#pageLogin .cybosol-logo {
	overflow:hidden;
	
	background-size:auto auto;
	background-repeat:no-repeat;
	background-position:top center;
}
#pageLogin .login-controls {
	padding:0 10px;
	
}


#divRetry {
	text-align:center;
	overflow:hidden;
}
.no-network  {
	padding:10px;
	background:#CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
}
/* Sales */
#pageSales .dateSaleFromTo{
	margin:10px 0;
	font-size:14px;
}
/* Notifications */
#pageNotifications .dateSaleFromTo{
	margin:10px 0;
	font-size:14px;
}



#pageNotifications .notificaiton-block {
	margin:5px 0;
	display:none;
}
#pageNotifications .notificaiton-head {
	 background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	font-size:16px;
	padding:5px 10px;
	overflow:hidden;
	border:1px solid #ddd;
	
	 border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   height:auto;
}
#pageNotifications .notificaiton-head  .count {
	float:right;
	font-weight:bold;
}
#pageNotifications .notificaiton-rows {
	padding:4px 4px 4px 30px;
	font-size:14px;
}
#pageNotifications .notificaiton-sub {
	display:none;
	padding:5px;
	border:1px solid #ccc;
	background:#eaeaea;
	 border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
}
/* balance sheet */
.table-font-size {
	font-size:12px;
}
.balance-profit {
	margin-top:-5px;
	overflow:hidden;
	clear:both;
}

#popupAbout .enterprise {
	font-style:italic;
	font-weight:normal;
	font-size:13px;
	color:#666
}

/* date picker */
.date-mask {
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background:rgba(0,0,0,0.9);
	display:none;
	z-index:10000;
}

.date-wrapper {
	margin:150px auto;
	width:220px;
		z-index:10001;
	font-family:Arial, Helvetica, sans-serif;
	 border:1px #666 solid;
	 background:#000;
	 box-shadow:0px 0px 5px #000;
}
.date-wrapper #dStr {
	font-size:14px;
}
.date-wrapper .maintable{
	font-size: 30px;
	margin: 5px;
	background-color: #222;
	color: #fff;
	width:200px;
}
.date-wrapper input {
	font-size: 20px;
	text-align: center;
	border-radius:0;
}
.date-wrapper .disp {
	width: 44px;
padding: 7px 8px;
float: left;
height: 22px;
margin:2px 5px;
background: #ccc;
font-size: 21px;
text-align: center;
color: #333;
font-weight: bold;
}
#txtDeductionStartDate {
	color: #555;
font-size: 13px;
}