@charset "utf-8";
/* CSS Document */

#pageLogin .logo {
	height:200px;
	background-image:url(../../images/logo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:80%;
	max-width:400px;
	margin:auto;
}
#pageLogin .login-wrap {
	width:150px;
	margin:auto;
}

#pageLogin .login-footer {
	color:#FFF;
	text-shadow:0px 1px 1px #333;
	margin:10px 0;
	text-align:center;
	padding:0 20px;
}
#pageLogin .login-footer a {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
	font-size:11px;
}
#pageLogin .footer-bg {
	background-image:url(../../images/bg-login-bottom-bar.png);
	background-size:auto 100%;
	background-repeat:repeat-x;
}

#pageLogin .cybosol-logo {
	overflow:hidden;
	
	background-size:auto auto;
	background-repeat:no-repeat;
	background-position:top center;
}
#pageLogin .login-controls {
	padding:0 10px;
	
}


#divRetry {
	text-align:center;
	overflow:hidden;
}
.no-network  {
	padding:10px;
	background:#CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
}
/* Sales */
#pageSales .dateSaleFromTo{
	margin:10px 0;
	font-size:14px;
}
/* Notifications */
#pageNotifications .dateSaleFromTo{
	margin:10px 0;
	font-size:14px;
}



#pageNotifications .notificaiton-block {
	margin:5px 0;
	display:none;
}
#pageNotifications .notificaiton-head {
	 background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	font-size:16px;
	padding:5px 10px;
	overflow:hidden;
	border:1px solid #ddd;
	
	 border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   height:auto;
}
#pageNotifications .notificaiton-head  .count {
	float:right;
	font-weight:bold;
}
#pageNotifications .notificaiton-rows {
	padding:4px 4px 4px 30px;
	font-size:14px;
}
#pageNotifications .notificaiton-sub {
	display:none;
	padding:5px;
	border:1px solid #ccc;
	background:#eaeaea;
	 border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
}