@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 239px){
	.tabs {
		background-size:60% auto;
		font-size:10px;
		height:50px;
	}
	.buttons {
		height:30px;
	}
	.buttons .caption {
		bottom:25%;
		left:40px;
		right:10px;
		font-size:10px;
		line-height:10px;
	}
	.table-font-size td,.table-font-size th {
		font-size:9px;
	}
}
@media screen and (min-width: 240px) and (max-width: 319px) { 
	.tabs {
		background-size:60% auto;
		font-size:10px;
		height:60px;
	}
	.buttons {
		height:40px;
	}
	.buttons .caption {
		bottom:25%;
		left:50px;
		right:10px;
		font-size:12px;
		line-height:10px;
	}
	.table-font-size td,.table-font-size th {
		font-size:11px;
	}
}
@media screen and (min-width: 320px) and (max-width: 479px) {
	.tabs {
		background-size:50% auto;
		font-size:10px;
		height:70px;
	}
	.buttons {
		height:50px;
	}
	.buttons .caption {
		bottom:30%;
		left:60px;
		right:10px;
		font-size:14px;
		line-height:13px;
	}
	.table-font-size td,.table-font-size th {
		font-size:12px;
	}
}
@media screen and (min-width: 480px) and (max-width: 600px){
	.tabs {
		background-size:54px 54px;
		font-size:12px;
		height:70px;
	}
	.buttons {
		height:60px;
	}
	.buttons .caption {
		bottom:40%;
		left:70px;
		right:10px;
		font-size:16px;
		line-height:12px;
	}
	.table-font-size td,.table-font-size th {
		font-size:13px;
	}
}
@media screen and (min-width: 601px){
	.tabs {
		background-size:50px 50px;
		font-size:13px;
		height:70px;
	}
	.buttons {
		height:60px;
	}
	.buttons .caption {
		bottom:40%;
		left:70px;
		right:10px;
		font-size:16px;
		line-height:12px;
	}
	.table-font-size td,.table-font-size th {
		font-size:13px;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin:5px 5px 0px 5px;
}

.w10 {
	width:10%;
	float:left;
}
.w20 {
	width:20%;
	float:left;
}
.w25 {
	width:25%;
	float:left;
}
.w30 {
	width:30%;
	float:left;
}
.w40 {
	width:40%;
	float:left;
}
.w50 {
	width:50%;
	float:left;
}
.w60 {
	width:60%;
	float:left;
}
.w70 {
	width:70%;
	float:left;
}
.w100 {
	width:100%;
	float:left;
}
.content-wrapper {
	padding:6px;
	text-shadow:1px 1px 1px #fff;
}

#pageLogin .logo {
	height:200px;
	background-image:url(../images/logo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:80%;
	max-width:400px;
	margin:auto;
}
#pageLogin .login-wrap {
	width:150px;
	margin:auto;
}

#pageLogin .login-footer {
	color:#FFF;
	text-shadow:0px 1px 1px #333;
	margin:10px 0;
	text-align:center;
	padding:0 20px;
}
#pageLogin .login-footer a {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
	font-size:11px;
}
#pageLogin .footer-bg {
	background-image:url(../images/bg-login-bottom-bar.png);
	background-size:auto 100%;
	background-repeat:repeat-x;
}

#pageLogin .cybosol-logo {
	overflow:hidden;
	background-image:url(../images/cybosol-logo.png);
	background-size:auto auto;
	background-repeat:no-repeat;
	background-position:top center;
}
#pageLogin .login-controls {
	padding:0 10px;
	
}

#pageHome .user-info {
	padding:10px;
	background-image:url(../images/bg-info.png);
	background-repeat:repeat-x;
	background-size:auto 100%;
	text-align:left;
	font-size:14px;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
#pageHome .user-info .ico {
	width:30px;
	height:auto;
	float:left;
	margin-left:10px;
}
#pageHome .user-info .text {
	
}
#pageHome .user-info .text  .user-name{
	font-size:16px;
	margin-top:5px;
	font-weight:bold;
}
#pageHome .user-info .text .bus-unit {
	font-size:12px;
}
#pageHome .user-info #btnLogout {
	position:absolute;
	right:10px;
	top:10px;
}

.header-bg {
	background-image:url(../images/bg-header-bar.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	overflow:hidden;	
}
.header-bg .tabs {
	margin:5px;
	background-position:center 5px;
	position:relative;
	color:#FFF;
	text-shadow:1px 1px 1px #000000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.header-bg .tabs:active {
	background-color:rgba(255,255,255,0.2);
}
.header-bg .selected {
	background-color:rgba(0,0,0,0.3);
}
.header-bg .tabs .caption {
	position:absolute;
	left:3px;
	bottom:5px;
	right:3px;
	text-align:center;
	line-height:9px;
}
.header-bg #tabDash {
	background-image:url(../images/ico-dash.png);
	background-repeat:no-repeat;
}
.header-bg #tabNoti {
	background-image:url(../images/ico-noti.png);
	background-repeat:no-repeat;
}
.header-bg #tabNoti .noti-count {
	position:absolute;
	top:5px;
	right:20%;
	background:#c92641;
	padding:1px 3px;
	font-size:12px;
		border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	text-shadow:none;
}
.header-bg #tabReq {
	background-image:url(../images/ico-req.png);
	background-repeat:no-repeat;
}
.header-bg #tabMore {
	background-image:url(../images/ico-more.png);
	background-repeat:no-repeat;
}
.buttons-wrapper {
	overflow:hidden;
}
.buttons-wrapper .row {
	padding:3px;
	
}
.buttons  {
	margin:3px;
	background-color:rgba(0,0,0,0.3);
	background-position:left;
	background-repeat:no-repeat;
	background-size:auto 100%;
	position:relative;
	color:#FFF;
	text-shadow:1px 1px 1px #000000;
}
.buttons .caption {
	position:absolute;
}
.buttons-wrapper .profile {
	background-image:url(../images/ico-profile.png);
}
.buttons-wrapper .profit {
	background-image:url(../images/ico-profit.png);
}
.buttons-wrapper .income {
	background-image:url(../images/ico-icome.png);
}
.buttons-wrapper .language {
	background-image:url(../images/ico-language.png)
}
.hr {
	background:url(../images/bg-hr.png) repeat-x;
	margin:5px 5px; 
	height:2px;
}
.bg-gradient {
	background-image:url(../images/bg-gray.png);
	background-size:auto 100%;
	background-repeat:repeat-x;
	overflow:hidden;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #888;
	border-right:1px solid #999;
	-webkit-border-radius:5px;
	font-size:14px;
}

.grid-row {
	margin:10px;
	overflow:hidden;
}
.padding {
	padding:5px;
}
.menu-button {
	display:none;
	position:fixed;
	bottom:10px;
	left:10px;
	right:40%;
}
.menu-button .menu-item {
	margin-top:5px;
	background:rgba(0,0,0,0.7);
	padding:10px;
	color:#FFF;
	text-shadow:1px 1px 1px #000;
}


.radio-tab-group {
	overflow:hidden;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #cccccc;
}
.radio-tab-group .radio-tab {
	font-weight: bold;
	color: #333 /*{b-bup-color}*/;
	padding:10px 0;
	text-shadow: 0  1px  0  #fff;
	text-align:center;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6), to( #e0e0e0 ));
	background-image: -webkit-linear-gradient( #f6f6f6 , #e0e0e0 );
	background-image: -moz-linear-gradient( #f6f6f6 , #e0e0e0 );
	background-image: -ms-linear-gradient( #f6f6f6 , #e0e0e0 );
	background-image: -o-linear-gradient( #f6f6f6 , #e0e0e0);
	background-image: linear-gradient( #f6f6f6, #e0e0e0);
}
.radio-tab-group .active,.radio-tab-group .active:active {
	border: 1px solid #369 /*{b-bup-border}*/;
	background: #396b9e /*{b-bup-background-color}*/;
	color: #EEE;
	text-shadow:none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 ), to( #396b9e)) !important;
	background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
}
.radio-tab-group .radio-tab:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e0e0e0), to( #f6f6f6 ));
	background-image: -webkit-linear-gradient( #e0e0e0 , #f6f6f6 );
	background-image: -moz-linear-gradient( #e0e0e0 , #f6f6f6 );
	background-image: -ms-linear-gradient( #e0e0e0 , #f6f6f6 );
	background-image: -o-linear-gradient( #e0e0e0 , #f6f6f6);
	background-image: linear-gradient( #e0e0e0, #f6f6f6);
}