@charset "utf-8";
/* CSS Document */
@media screen and (max-height: 480px)  {
	.buttons {
		height: 120px;
	}
}
@media screen and (min-height: 481px) {
	.buttons {
		height: 135px;
	}
}


@media screen and (max-width: 239px) {
.tabs {
	background-size: 60% auto;
	font-size: 10px;
	height: 50px;
}
}
@media screen and (min-width: 240px) and (max-width: 319px) {
.tabs {
	background-size: 60% auto;
	font-size: 10px;
	height: 60px;
}
}
@media screen and (min-width: 320px) and (max-width: 479px) {
.tabs {
	background-size: 50% auto;
	font-size: 11px;
	height: 65px;
}
}
@media screen and (min-width: 480px) and (max-width: 600px) {
.tabs {
	background-size: 54px 54px;
	font-size: 12px;
	height: 70px;
}
}
@media screen and (min-width: 601px) {
.tabs {
	background-size: 50px 50px;
	font-size: 13px;
	height: 70px;
}
}
.display-none {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 5px 5px 0px 5px;
}
.w10 {
	width: 10%;
	float: left;
}
.w20 {
	width: 20%;
	float: left;
}
.w25 {
	width: 25%;
	float: left;
}
.w30 {
	width: 30%;
	float: left;
}
.w32 {
	width: 33.33%;
	float: left;
}
.w40 {
	width: 40%;
	float: left;
}
.w50 {
	width: 50%;
	float: left;
}
.w60 {
	width: 60%;
	float: left;
}
.w70 {
	width: 70%;
	float: left;
}
.w95 {
	width: 95%;
}
.w100 {
	width: 100%;
	float: left;
}
.pad-hor-3px {
	padding: 0 3px;
}
.mar3px {
	margin: 3px;
}
.margin-out {
	margin: 5px;
}
.small-btn {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 6px 10px;
	margin: -3px -7px;
	border: 1px solid #584e60;
	opacity: 0.9;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	font-size: 11px;
}
.small-btn:active {
	border: 1px solid #aaa;
}
.content-wrapper {
	padding: 6px;
	text-shadow: 1px 1px 1px #fff;
}
/* Sub option for dash board */
/*.dash-notifications {
	overflow: hidden;
	margin: 3px 5px 0 5px;
	box-shadow: 1px 1px 5px #666666;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.dash-notifications .dash-noti-head {
	background: url(../images/bg-dash-summary-head.png) repeat-x;
	font-size: 16px;
	padding: 5px 10px;
	overflow: hidden;
	border: 1px solid #665079;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	height: auto;
}
.dash-notifications .dash-noti-sub-head {
	overflow: hidden;
	background: #eee;
	padding: 5px 10px;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #ddd;
	font-size: 14px;
}
.dash-notifications .dash-noti-sub-head-big {
	padding: 8px 10px;
	overflow: hidden;
	background: #eee;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #ddd;
	font-size: 14px;
	display:block;
}
.dash-notifications .dash-noti-sub-head:active {
	background: #ddd;
}
.dash-notifications .dash-noti-sub-head-big .count {
	float: right;
	font-weight: bold;
}
.dash-notifications .dash-noti-sub-head-big:active {
	background: #e7e7e7;
}
.dash-notifications .dash-noti-sub-head.last {
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
}
.dash-notifications .dash-noti-content {
	overflow: hidden;
	padding: 5px 10px;
	font-size: 14px;
}*/
/* inner page titles */
.inner-page-titles {
	margin: 0 1px -2px -2px;
	box-shadow: 0px 0px 3px #777;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.inner-page-titles .dash-noti-head .btn-back {
	background: url(../images/btn-arrow.png) no-repeat center;
	width: 7px;
}
.inner-page-titles .dash-noti-head {
	background: url(../images/bg-dash-summary-head.png) repeat-x;
	font-size: 16px;
	padding: 5px 10px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	height: auto;
	color: #FFF;
	text-shadow: 1px 1px 1px #333333;
}
.inner-page-titles .inner-list-item {
	overflow: hidden;
	background: #eee;
	padding: 5px 10px;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #ddd;
	font-size: 14px;
}
.inner-page-titles .inner-list-item .count {
	float: right;
	font-weight: bold;
}
.inner-page-titles .inner-list-item.last {
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
.inner-page-titles .dash-noti-content {
	overflow: hidden;
	padding: 5px 10px;
	font-size: 14px;
}
/* inner page titles ends ehre*/
 
/*.sub-button-wrapper {
	overflow: none;
	display: none;
}
.sub-button-wrapper .arrow {
	width: 22px;
	height: 12px;
	background: url(../images/small-arrow.png) no-repeat center;
	margin: 0 10%;
}
.sub-button-wrapper .arrow#left {
	float: left;
}
.sub-button-wrapper .arrow#right {
	float: right;
}
.sub-button-wrapper .arrow#center {
	margin: auto;
}*/
/*.buttons-wrapper .sub-btn-ul-wrapper {
	overflow: hidden;
	clear: both;
}
ul.sub-options li a {
	color: #444 !important;
	text-decoration: none;
	display: block;
}
ul.sub-options {
	list-style: none;
	margin: 0 5px 5px 5px;
	padding: 0;
	-moz-box-shadow: inset 0 0 10px #999;
	-webkit-box-shadow: inset 0 0 10px #999;
	box-shadow: inset 0 0 10px #999;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
ul.sub-options li:first-child {
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
}
ul.sub-options li:last-child {
	border-radius: 0 0 6px 6px;
 -webkit-border-radius::0 0 6px 6px;
 -moz-border-radius::0 0 6px 6px;
}
ul.sub-options li {
	padding: 10px;
	font-size: 12px;
	background-image: url(../images/bg-sub-opt.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	color: #111;
	font-weight: bold;
}
ul.sub-options li:active {
	background-color: #2DBBFF;
	color: #FFF;
}*/
.header-bg {
	background-image: url(../images/bg-header-bar.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	overflow: hidden;
}
.header-bg .tabs {
	margin: 5px;
	background-position: center 5px;
	position: relative;
	color: #FFF;
	text-shadow: 1px 1px 1px #000000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.header-bg .tabs:active {
	background-color: rgba(255,255,255,0.2);
}
.header-bg .selected {
	background-color: rgba(0,0,0,0.3);
}
.header-bg .tabs .caption {
	position: absolute;
	left: 3px;
	bottom: 5px;
	right: 3px;
	text-align: center;
	line-height: 9px;
}
.header-bg #tabDash {
	background-image: url(../images/ico-dash.png);
	background-repeat: no-repeat;
}
.header-bg #tabNoti {
	background-image: url(../images/ico-noti.png);
	background-repeat: no-repeat;
}
.header-bg #tabHome {
	background-image: url(../images/ico-home.png);
	background-repeat: no-repeat;
}
.header-bg #tabNoti .noti-count {
	position: absolute;
	top: 5px;
	right: 20%;
	background: #c92641;
	padding: 1px 3px;
	font-size: 12px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-shadow: none;
}
.header-bg #tabReq {
	background-image: url(../images/ico-req.png);
	background-repeat: no-repeat;
}
.header-bg #tabMore {
	background-image: url(../images/ico-more.png);
	background-repeat: no-repeat;
}
.buttons-wrapper {
	overflow: hidden;
	padding: 5px 0;
}
.buttons-wrapper .row {
	padding: 0 3px;
}
.buttons {
	/*height: 135px;*/
	background-position: center;
	background-repeat: repeat-x;
	position: relative;
	color: #FFF;
	text-shadow: 1px 1px 1px #000000;
	margin: 2px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	box-shadow: 0px 1px 1px #555;
}
.buttons:active {
	box-shadow: none;
	opacity: 0.9;
}
.bg-blue {
	background: rgb(62,175,218); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(62,175,218,1) 1%, rgba(38,115,143,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(62,175,218,1)), color-stop(100%, rgba(38,115,143,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(62,175,218,1) 1%, rgba(38,115,143,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(62,175,218,1) 1%, rgba(38,115,143,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(62,175,218,1) 1%, rgba(38,115,143,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(62,175,218,1) 1%, rgba(38,115,143,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eafda', endColorstr='#26738f', GradientType=0 ); /* IE6-9 */
}
.bg-red {
	background: rgb(230,72,72); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(230,72,72,1) 0%, rgba(165,52,52,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230,72,72,1)), color-stop(100%, rgba(165,52,52,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(230,72,72,1) 0%, rgba(165,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(230,72,72,1) 0%, rgba(165,52,52,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(230,72,72,1) 0%, rgba(165,52,52,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(230,72,72,1) 0%, rgba(165,52,52,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64848', endColorstr='#a53434', GradientType=0 ); /* IE6-9 */
}
.bg-purple {
	background: rgb(165,104,195); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(165,104,195,1) 0%, rgba(98,61,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(165,104,195,1)), color-stop(100%, rgba(98,61,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(165,104,195,1) 0%, rgba(98,61,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(165,104,195,1) 0%, rgba(98,61,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(165,104,195,1) 0%, rgba(98,61,114,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(165,104,195,1) 0%, rgba(98,61,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a568c3', endColorstr='#623d72', GradientType=0 ); /* IE6-9 */
}
.bg-green {
	background: rgb(140,184,9); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(140,184,9,1) 0%, rgba(96,126,6,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(140,184,9,1)), color-stop(100%, rgba(96,126,6,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(140,184,9,1) 0%, rgba(96,126,6,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(140,184,9,1) 0%, rgba(96,126,6,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(140,184,9,1) 0%, rgba(96,126,6,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(140,184,9,1) 0%, rgba(96,126,6,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cb809', endColorstr='#607e06', GradientType=0 ); /* IE6-9 */
}
.bg-orange {
	background: rgb(239,175,48); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239,175,48,1) 0%, rgba(170,125,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239,175,48,1)), color-stop(100%, rgba(170,125,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239,175,48,1) 0%, rgba(170,125,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239,175,48,1) 0%, rgba(170,125,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239,175,48,1) 0%, rgba(170,125,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239,175,48,1) 0%, rgba(170,125,34,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efaf30', endColorstr='#aa7d22', GradientType=0 ); /* IE6-9 */
}
.buttons .caption {
	position: absolute;
	left: 10px;
	bottom: 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size: 16px;
	color: #eee;
	font-weight:bold;
}
.buttons .count {
	-moz-box-shadow: 0px 0px 11px -2px #0a0a0a;
	-webkit-box-shadow: 0px 0px 11px -2px #0a0a0a;
	box-shadow: 0px 0px 11px -2px #0a0a0a;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb700), color-stop(1, #ff5100) );
	background:-moz-linear-gradient( center top, #ffb700 5%, #ff5100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb700', endColorstr='#ff5100');
	background-color:#ffb700;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:2px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:8px 4px;
	text-decoration:none;
	text-shadow:1px 1px 0px #4d362d;
	position: absolute;
	right: 5px;
	top: 5px;
	display:none;
}
a {
	text-decoration: none !important;
}
.buttons .icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: auto 50%;
}
.buttons .sales {
	background-image: url(../images/ico-sales.png);
}
.buttons .hr {
	background-image: url(../images/ico-hr.png);
}
.buttons .notifications {
	background-image: url(../images/ico-notifications.png);
}
.buttons .purchase {
	background-image: url(../images/ico-purchase.png)
}
.buttons .finance {
	background-image: url(../images/ico-finance.png)
}
.buttons .profile {
	background-image: url(../images/ico-profile.png)
}
.logged-in-as {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 2px;
	padding: 5px 5px 5px 40px;
	background-color: #2d2534;
	background-image: url(../images/ico-profile.png);
	background-size: 20px 20px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	color: #ccc;
	text-shadow: 1px 1px 1px #000;
	overflow: hidden;
}
.logged-in-as .log-out {
	float: right;
	background: #c21b1b;
	color: #FFF;
	font-size: 14px;
	padding: 8px 17px;
	margin: 3px;
}
.logged-in-as .menuLastLogin {
	line-height: 14px;
	font-size: 12px;
}
.logged-in-as .log-out:active {
	background: #af3434;
}
.menu-button {
	display: none;
}
/*.buttons-wrapper .profile {
	background-image:url(../images/ico-profile.png);
}
.buttons-wrapper .profit {
	background-image:url(../images/ico-profit.png);
}
.buttons-wrapper .income {
	background-image:url(../images/ico-icome.png);
}
.buttons-wrapper .language {
	background-image:url(../images/ico-language.png)
}*/

/*.hr {
	background:url(../images/bg-hr.png) repeat-x;
	margin:5px 5px; 
	height:2px;
}*/
.bg-gradient {
	background-image: url(../images/bg-gray.png);
	background-size: auto 100%;
	background-repeat: repeat-x;
	overflow: hidden;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #888;
	border-right: 1px solid #999;
	-webkit-border-radius: 5px;
	font-size: 14px;
}
.grid-row {
	margin: 10px;
	overflow: hidden;
}
.padding {
	padding: 5px;
}
/*.menu-button {
	display:none;
	position:fixed;
	bottom:10px;
	left:10px;
	right:40%;
	z-index:10000;
}
.menu-button .menu-item {
	margin-top:5px;
	background:rgba(0,0,0,0.7);
	padding:10px;
	color:#FFF;
	text-shadow:1px 1px 1px #000;
}
*/

.radio-tab-group {
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
}
.radio-tab-group .radio-tab {
	font-weight: bold;
	color: #333 /*{b-bup-color}*/;
	padding: 10px 0;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6), to( #e0e0e0 ));
	background-image: -webkit-linear-gradient( #f6f6f6, #e0e0e0 );
	background-image: -moz-linear-gradient( #f6f6f6, #e0e0e0 );
	background-image: -ms-linear-gradient( #f6f6f6, #e0e0e0 );
	background-image: -o-linear-gradient( #f6f6f6, #e0e0e0);
	background-image: linear-gradient( #f6f6f6, #e0e0e0);
}
.radio-tab-group .active, .radio-tab-group .active:active {
	border: 1px solid #369 /*{b-bup-border}*/;
	background: #396b9e /*{b-bup-background-color}*/;
	color: #EEE;
	text-shadow: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 ), to( #396b9e)) !important;
	background-image: -webkit-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: -moz-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: -ms-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: -o-linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
	background-image: linear-gradient( #5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
}
.radio-tab-group .radio-tab:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e0e0e0), to( #f6f6f6 ));
	background-image: -webkit-linear-gradient( #e0e0e0, #f6f6f6 );
	background-image: -moz-linear-gradient( #e0e0e0, #f6f6f6 );
	background-image: -ms-linear-gradient( #e0e0e0, #f6f6f6 );
	background-image: -o-linear-gradient( #e0e0e0, #f6f6f6);
	background-image: linear-gradient( #e0e0e0, #f6f6f6);
}
/** inner page **/

.side-tabs {
	overflow: hidden;
	margin-left: 0;
	margin-top: 8px;
	float: left;
}
.side-tabs .sidetab {
	overflow: hidden;
	margin-top: 1px;
	padding: 0;
}
.side-tabs .sidetab img:active {
	margin-left: -2px;
}
.inner-page .content {
	margin-left: 10px;
	overflow: hidden;
	padding: 10px 0px 10px 10px;
}
.inner-page .content .gradient {
	background-image: url(../images/bg-inner-content.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden;
}
.inner-page .content .head {
	background-image: url(../images/bg-side-head.png);
	background-repeat: repeat-x;
	background-size: auto 50%;
	padding: 4px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
	overflow: hidden;
}
.inner-page .content .sales {
	background-color: #8b53a6;
}
.inner-page .content .notifications {
	background-color: #c22d2d;
}
.inner-page .content .hr {
	background-color: #FFA600;
}
.inner-page .content .head .title {
	padding: 3px;
	font-size: 20px;
	float: left;
	color: #eee;
}
.inner-page .content .head .square-buttons {
	overflow: hidden;
	height: 30px;
	width: 30px;
	background-size: 100% 100%;
}
.inner-page .content .head .square-buttons#btn-fav {
	background-image: url(../images/btn-favourite.png);
	float: right;
	margin-left: 5px;
}
.inner-page .content .head .square-buttons#btn-reload {
	background-image: url(../images/btn-reload.png);
	float: right;
	margin-left: 5px;
}
.inner-page .content .head .square-buttons#btn-back {
	background-image: url(../images/btn-back.png);
	float: left;
}
.inner-page .content .side-content-body .sub-menu-head {
	font-size: 15px;
	font-weight: bold;
	text-shadow: none;
	padding: 10px 10px 0 0;
}
.inner-page .content .side-content-body .sub-menu-content {
	overflow: hidden;
}
/*.inner-page .content .side-content-body .sub-menu-head {
	font-size:15px;
	font-weight:bold;
	color:#333;
	padding:7px;
	background-image:url(../images/bg-login-bottom-bar.png);
	background-size:auto 100%;
	-webkit-border-radius:  5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
border-radius:  5px 5px 0 0;
text-shadow:none;
border-bottom:1px solid #666;
}
.inner-page .content .side-content-body .sub-menu-content {
	font-size:14px;
	color:#333;
	padding:5px;
	background-color:#eee;
	-webkit-border-radius: 0 0  5px 5px 0 0;
	-moz-border-radius: 0 0  5px 5px;
	border-radius: 0 0 5px 5px;
	text-shadow:none;
	border-bottom:1px solid #777;
}*/
.inner-page .content .side-content-body {
	padding: 7px;
}
#pageDashboard .summary {
	margin-left: 10px;
	overflow: hidden;
	padding: 10px 0px 10px 5px;
}
#pageDashboard .summary .blocks {
	height: 60px;
	margin: 0 2px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(226,226,226,1) 100%); /* W3C */
}
#pageDashboard .summary .blocks .title {
	padding: 3px;
	margin: 1px;
	font-size: 15px;
	color: #fff;
	font-family: Arial Narrow, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #222;
	background: url(../images/bg-dash-summary-head.png) repeat-x; /* W3C */
	border-radius: 3px;
}
#pageDashboard .summary .blocks .value {
	margin: 0 5px;
	font-size: 28px;
	color: #555;
	text-shadow: 1px 1px 1px #fff;
	font-family: Arial Narrow, Helvetica, sans-serif;
	text-align: right;
}
/* tab like filter in home page */
#pageHome .home-filter-wrapper {
	font-size: 12px;
	overflow: hidden;
	border-bottom: #aaa 1px solid;
	border-top: #777 1px solid;
}
/*#pageHome .home-filter-wrapper .filter-tabs {
	padding: 7px 5px;
	border-right: #fff 1px solid;
	border-left: #bbb 1px solid;
	text-align: center;
}
#pageHome .home-filter-wrapper .filter-tabs.selected {
	background: #ccc;
	border-right: #ccc 1px solid;
}
#pageHome .home-filter-wrapper .filter-tabs:active {
	background: #ffa200;
	color: #FFF;
	border-right: #bbb 1px solid;
	border-left: #ccc 1px solid;
}*/
/* #pageServiceRequest */ 
/*#pageServiceRequest .blocks {
	height: 60px;
	margin: 0 2px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(226,226,226,1) 100%); 
}*/
/* iner page styles */ 
.inner-page-wrapper {
	margin: 0 1px -2px -2px;
	box-shadow: 0px 0px 3px #777;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
	border: 1px solid #aaa;
}
.inner-page-wrapper .btn-back {
	background: url(../images/btn-arrow.png) no-repeat center;
	width: 7px;
}
.inner-page-wrapper .inner-page-head {
	background: url(../images/bg-dash-summary-head.png) repeat-x;
	font-size: 16px;
	padding: 5px 10px;
	overflow: hidden;
	border: 1px solid #665079;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	height: auto;
}
.inner-page-wrapper .inner-list-item {
	overflow: hidden;
	background: #eee;
	padding: 5px 10px;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #ddd;
	font-size: 14px;
}
.inner-page-wrapper .inner-list-item .count {
	float: right;
	font-weight: bold;
}
.inner-page-wrapper .inner-list-item.last {
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}
.inner-page-wrapper .side-content-body {
	padding: 7px;
	min-height: 280px;
}
/* page profile */
#pageProfile .personal-info {
	min-height:  280px;
	position: relative;
}
#pageProfile .personal-info .profile-ico {
	height: 54px;
	width: 54px;
	margin: 5px;
	border-radius: 5px;
	float: left;
	background: #fff;
}
#pageProfile .personal-info .profile-ico img {
	height: 50px;
	width: 50px;
	float: left;
	margin: 2px;
}
